<!DOCTYPE html>
<html lang="en">

<head>
    <title>Web Development Test - Caio Americo</title>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Web Development Test">
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.png' />

    <!-- FontAwesome CSS -->
    {{!-- <link rel="stylesheet" type="text/css" href="/vendor/font-awesome/all.min.css" /> --}}

    <!-- Bootstrap CSS -->
    {{!-- <link rel="stylesheet" type="text/css" href="/vendor/bootstrap/bootstrap.min.css" /> --}}

    {{!-- {{# each style}}
    <link rel="stylesheet" type="text/css" href="{{this}}" /> 
    {{/each}} --}}
</head>

<body>
    <main role="main">
        <header>
            <div class="row">
            </div>
        </header>

        <div class="headerSpace" style="height: 60px;"> </div>

        <div class="main-container">
            {{{body}}}
        </div>
    </main>

    <footer>
        <div class="footerContainer">
            <small>
                Projeto desenvolvido por
                <strong>Caio Santos Americo</strong>
            </small>
        </div>
    </footer>

    {{!-- <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
    <script src="/vendor/font-awesome/all.min.js"></script>
    <script src="/vendor/popper/popper.min.js"></script>
    <script src="/vendor/bootstrap/bootstrap.min.js"></script> --}}

    {{!-- {{# each javascript}}
    <script src="{{this}}"></script>
    {{/each}}
    <script>
        $(document).ready(function () {
            $(".dropdown-toggle").dropdown();
        });
    </script> --}}
</body>